* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid #0ff; */
}

html {
  font-family: Roboto, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.top {
  background-color: #1f2937;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 1000px;
  padding: 20px 10px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.nav {
  list-style-type: none;
  
  margin: 0;
  padding: 0;
  
  display: flex;
  gap: 20px;
}

.nav a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero {
  width: 1000px;
  padding: 80px 10px;
  
  display: flex;
  justify-content: space-between;
}

.hero-left {
  width: 400px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-left p {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up1 {
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  margin: 10px 0;
  padding: 8px 30px;
  border: none;
  border-radius: 8px;
}

.hero-right {
  color: #e5e7eb;
  background-color: #677;
  width: 550px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container {
  text-align: center;
  width: 1000px;
  padding: 0 10px;
  margin-bottom: 80px;
}

.infos {
  display: flex;
  justify-content: space-around;

}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #172937;
  padding: 40px 0;
}

.figure {
  width: 150px;
}

.img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border: 5px solid #3882f6;
  border-radius: 20px;
}
